
# App directory, where app files will be located
APP_DIR=/opt/automon

# Grafana settings
# Forwarded port for grafana
GRAFANA_PORT=3000
# Credentials for grafana
GRAFANA_USER=user
GRAFANA_PASSWORD=password

# ! Caution: this port should be closed by firewall
# Port for node exporter
NODE_PORT=9100
